---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import HomeNews from '../components/HomeNews.astro'
import Attribution from '../components/Attribution.astro'
---

<Layout title="Frontend Mentor | News homepage">

	<main>

		<Header />
		<HomeNews />
		<Attribution />

	</main>

</Layout>